/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*
ol, ul {
	/*list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */



.navBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
nav {
	width:60%;
  	display:flex;
  	justify-content:space-between;
    align-items:center;
}
.navBar a {
	
	color: silver;
	text-decoration: none;
    /* font-style: bold; */
    margin-right: 12%;

}






.innovation {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-left: 15%;
}
.innovationPrompt {
	display: flex;
	flex-direction: column;
	justify-content:  center;
	align-items: center;

}
.prompt {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: "bangers";
    font-size: 70px;
    margin-bottom: 10%;
}
/* caused me some trouble,can't get the spaceing between innovation on demand and the button right*/
.button {
	height: 13%;
	width: 57%;
	/* text-align: center; */
	border: 2px solid black;

    font-size: 15px;
    outline:none;
    box-shadow: none;
    background-color: white;
  

}





.featuresAbout {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

    margin-left: 9%;
	margin-right: 9%;

}

.myText {

    width: 50%;
    /* padding: 10px; */

    

}

.imageWrapper {
    /* display: flex;
    width: 100%;
	justify-content: center; */

    /* margin: 15px; */

}
.middle-img {
    width: 100%;
}

.center {
	display: flex;
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
}
.lastPart {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;

}
.myText2 {

	/* padding: 10px; */
    width: 32%;
}
hr {
	width: 100%;
	border: 1px solid black;
}
.address {
	padding-top: 20px;
}

.copyright {
	text-align: center;
}
.everything {
	width: 900px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;

}
/* for services.html*/


.services-header-img {
	width: 100%;
	margin-top: 20px;
}
.ServiceDescription {
	margin-top: 20px;

}
.ServiceDescription h1 {
	font-size: 20px;
}
.collectionOfBoxes {
	display: flex;
	justify-content: center;
}
.boxes {
	width: 900px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.box {
	margin: 15px 0px;
	width: 46%;
}
.service {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
	border: 1px solid black;
	background: rgb(236, 236, 236);

    padding: 20px;

}

.service p{

    margin-bottom: 10px;

}
button {
	width: 40%;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid black;
	font-size: 11px; 

    
}

.centerService {

    display: flex;

	justify-content: left;
	margin-top: 35px;

}
.services {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	/* border: 2px solid #BADA55; */

}
.facts {
	display: flex;
	flex-direction: column;
	/*align-content: flex-start;*/
	text-align: left;
	/* border: 2px solid #BADA55; */

}
.lastParagraph {
	width: 400px;
}
ul {
	/* border: 2px solid #BADA55; */
	margin-left: -20px;
	list-style-type: square;

}
.services-info-img {
	/*width: 400px;
	height: 300px;*/
	/*max-width:100%;*/
	width: 46%;
    height: 240px;
}

/*  tablet rules */
/*
set display of large circle image to none
separate great idea and 
*/
/*  max-width doesn't define how wide the page is*/
@media (max-width: 800px) {
    .everything{

        width: 800px;
        margin: 0 auto;
    
    }
    .navBar a {
        margin: 0%;
    }
    .promptImage {
        display: none;
    }
    .innovation {
        display: block;
        margin-top: 5%;
        margin-left: 0%;
        /* flex-direction: column; */
        /* justify-content: center; */
        /* border: 10px black; */
    }
    .innovationPrompt {
        display: flex;
        /* justify-content: center; */
        /* margin-left: 15%; */
    }
    .prompt {
        margin-bottom: 2%;
        /* border-radius: 0px; */

    }
    .button {
        /* height: 5%; */
        width: 20%;
        margin-bottom: 7%;
    }
    .fullNavBar {
        width: 100%;
    }
    .navBar {
        flex-direction: column-reverse;
    }
    .navImage {
        display: flex;
        justify-content: center;
        margin: 4%;
    }
    nav {
        display: flex;
        width: 100%;
        /* justify-content: space-between; */
    }
    .imageWrapper {
        width: 100%;
        padding: 0%;
    }
    .address {
        margin-bottom: 5%;
    }
    /* change direction of flexbox for great idea? */
}

@media (max-width: 500px){

    .everything{

        width: 500px;
        margin: 0 auto;
        padding: 0%;
    }
    .top {
        
        width: 100%;
    }
    .promptImage {
        display: none;
    }
    .innovation {
        display: block;
        margin-top: 5%;
        margin-left: 0%;
        /* flex-direction: column; */
        /* justify-content: center; */
        /* border: 10px black; */
    }
    .innovationPrompt {
        display: flex;
        /* justify-content: center; */
        /* margin-left: 15%; */
    }
    .prompt {
        margin-bottom: 5%;
        /* border-radius: 0px; */

    }
    .button {
        /* height: 5%; */
        width: 30%;
        margin-bottom: 7%;
    }
    .fullNavBar {
        width: 100%;
    }
    .navBar {
        flex-direction: column-reverse;
        /* width: 500px; */
    }
    .navImage {
        display: flex;
        justify-content: center;
        margin: 4%;
    }
    nav {
        display: flex;
        flex-direction: column;
        /* width: 500px; */
        padding: 0%;

        /* justify-content: space-between; */
    }
    /* more specific than nav a to override the tablet settings */
    .navBar a {
        /* margin: 0%; */
        /* padding: 0%; */
        padding: 3% 0%;
        border-top: 1px solid black;
        /* border-bottom: 1px solid black; */
        width: 100%;
        text-align: center;
        /* border-top: 1px black; */


    }
    .navBar a:last-of-type {
                border-bottom: 1px solid black;

    }
    .imageWrapper {
        width: 100%;
        padding: 0%;
    }
    .address {
        margin-bottom: 5%;
        padding-left: 3%;
    }
    hr {
        width: 95%;
    }
    .lastPart {
        width: 95%;
        flex-direction: column;
        justify-content: center;
    }
    .myText {
        width: 100%;
        margin: 5% 0%;
    }
    .myText2 {
        width: 100%;
        margin: 5% 0%;
    }
    .myText h3 {
        /* text-align: center; */
    }
    .imageWrapper {
        width: 95%;
        /* display: flex; */
        /* justify-content: center; */
    }
    .middle-img {
        /* align-content: center; */

    }
}